<mat-toolbar color="primary">
  <span routerLink="/" [ngStyle]="{ cursor: 'pointer' }">My Posts</span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent"
        >New Post</a
      >
    </li>
    <li>
      <a
        mat-button
        routerLink="/login"
        routerLinkActive="mat-accent"
        *ngIf="!isAuth"
        >Login</a
      >
    </li>
    <li>
      <a
        mat-button
        routerLink="/signup"
        routerLinkActive="mat-accent"
        *ngIf="!isAuth"
        >Signup</a
      >
    </li>
    <li>
      <button mat-button *ngIf="isAuth" (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
