<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="post?.title"
        required
        #title="ngModel"
        placeholder="Enter Post Title"
      />
      <mat-error *ngIf="title.invalid"> Invalid title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="6"
        name="content"
        [ngModel]="post?.content"
        required
        #content="ngModel"
        placeholder="Enter Post Comment"
      ></textarea>
      <mat-error *ngIf="content.invalid">Invalid content</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onGetSinglePost()"
    >
      Save Post
    </button>
  </form>
</mat-card>
