:host{
    display: block;
    margin-top: 1rem
}

mat-spinner{
    margin: auto;
}

.post-image{
    width: 100%;
    // height: 5rem;
}

.post-image img{
    width: 80%;
    box-shadow:  1px 1 px 5px rgba();
    // height: 10rem;
}
